#!/bin/sh

# {{ ansible_managed }}

if [ "$1" = "-fg" ] || [ "$1" = "run" ]  ; then
    shift
    PRGRUNMODE=true
else
    echo "To run Crowd in the foreground, start the server with $0 -fg"
fi

cd "`dirname "$0"`"

if [ "$PRGRUNMODE" = "true" ] ; then
    exec apache-tomcat/bin/catalina.sh run "$@"
else
    exec apache-tomcat/bin/startup.sh "$@"
fi
