# {{ ansible_managed }}

[Unit]
Description=Atlassian Crowd
After=syslog.target network.target

[Service]
ExecStart=/opt/atlassian/crowd/start_crowd.sh
ExecStop=/opt/atlassian/crowd/stop_crowd.sh
PIDFile=/opt/atlassian/crowd/apache-tomcat/work/catalina.pid
Type=forking
User=crowd
Group=crowd

[Install]
WantedBy=multi-user.target
